<% if current_user %>
  <%= render 'tweets/new_form' %>
 <% end %>
<div id="ribbits" class="panel left">
	<h1>Tweets Profile</h1>
	<div class="ribbitWrapper">
		<img class="avatar" src="<%= @user.avatar_url %>" />
		<span class="name"> <%= @user.name %> </span>
		<span>@<%= @user.username %></span>
		<p>
			XX Tweets
			<span class="spacing">XX Followers </span>
			<span class="spacing">XX Following </span>
		</p>
	</div>
</div>
<div class="panel left">
	<h1>Tweets</h1>
	<div class="ribbitWrapper">
		Tweets Comings...
	</div>
</div>